
/* Large Desktop */
@media (min-width: 1200px) {
    .section-faq {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Desktop */
@media (min-width: 992px) {
    /* Section FAQ */
    .section-faq {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Tablet dll */
@media (min-width: 768px) {
    /* Section FAQ */
    .section-faq {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Small gadget */
@media (min-width: 576px) {
    /* Section FAQ */
    .section-faq {
        padding-left: 0;
        padding-right: 0;
    }
}